@value colors: "./variables.css";
@value gaps: "./variables.css";
@value darker_blue from colors;
@value x15, x10, x5 from gaps;

.header {
  background-color: darker_blue;
}

.logo {
  display: block;
  width: auto;
  max-width: 100%;
  height: x15;
}

.headerWrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: x5;
}
