@value purple_blue: #5d4da0;
@value light_blue: #5dccf5;
@value blue: #53a1d8;
@value dark_blue: #01213a;
@value darker_blue: #000f1b;
@value purple: #5f286e;
@value dark_purple: #2d163f;
@value darker_purple: #291834;
@value red: #ee223d;
@value yellow: #fdf054;
@value pink: #f66d9b;
@value toxic_green: #00ff13;
@value orange: #ff8050;

@value x1: 3px;
@value x2: 6px;
@value x3: 9px;
@value x4: 12px;
@value x5: 15px;
@value x10: 30px;
@value x15: 45px;
@value x20: 60px;
@value x30: 90px;
@value x40: 120px;
@value x50: 150px;
